@import "../../scss/variables.scss";

.header {
  background-color: $primary_color;
  padding: 10px 0;
  border-radius: 2px;

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
  }
}
