@import "../../scss/variables.scss";

.result {
  background-color: $default_white_color;
  border-radius: 4px;
  padding: 16px;

  a {
    border-bottom: 1px solid $gray4_color;
    padding: 16px 0;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.empty-box {
  background-color: $default_white_color;
  border-radius: 4px;
  padding: 32px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}
